@model CosmeticShop.Models.Products.OrderHistory

История заказов

@foreach (var order in Model.Orders)
{
    @foreach (var opa in order.OrderProuctAccountings)
    {

        <div>
            <p>@opa.Cost</p>
            <p>@opa.ProductContainer.ProductName</p>
            <p>@opa.ProductContainer.CountProducts</p>
        </div>

    }
    <hr>
}