@{
  ViewData["Title"] = "Home Page";
}
<section class="additional-menu container-fluid">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Макияж</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Парфюмерия</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Волосы</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Уход</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Тело</a>
      </li>
    </ul>
  </div>
</section>


