@foreach (var item in Model)
{
    <div>
        <p>Номер заказа: @item.Order.Id</p>
        <a href="#">Детали</a>

        <form method="POST">
            <input type="button" value="доставлен">
        </form>
    </div>
}