@if(User.IsInRole("employee"))
{
    <h2>Права рабочего</h2>
    <div>
        <a asp-action="Index" asp-controller="ProductContainers">Продукты</a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ProductCategories">Категории</a>
    </div>   
    <hr>
}
@if(User.IsInRole("admin"))
{
    <h2>Права администратора</h2>
    <div>
        <a asp-action="Index" asp-controller="Roles">Роли</a>
    </div>   
    <div>
        <a asp-action="Index" asp-controller="Users">Пользователи</a>
    </div>   
    <hr>
}

<a asp-action="OrderHistory" asp-controller="Orders">История заказов</a>

<a asp-area="" asp-controller="PersonalArea" asp-action="PersonalData">личные данные</a>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>