@if(User.IsInRole("employee"))
{
    <div>
        <a asp-action="Index" asp-controller="ProductContainers">Продукты</a>
    </div>
    <div>
        <a asp-action="Index" asp-controller="ProductCategories">Категории</a>
    </div>   
}
@if(User.IsInRole("admin"))
{
    <p>You are admin</p>
}

<a asp-area="" asp-controller="PersonalArea" asp-action="PersonalData">личные данные</a>

<form method="post" asp-controller="Account" asp-action="Logout">
    <input type="submit" value="Выход" />
</form>