body .table-add-product{
    margin: 10px 50px 80px 50px;
    width: auto;
    background-color: #FFF8F4!important;
}
body .table-add-product .create-product {
    margin: 40px 0px;
    width: auto;
}
body .table-add-product .btn-create-product{
    padding: 16px 55px;
    border: 2px solid #A93E4D;
    border-radius: 30px;
    width: auto;
    background-color: #FFF8F4!important;

    font-family: Raleway;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 107.9%;

    letter-spacing: 0.02em;
    color: #A93E4D;
}
body .table-add-product .table{
    background-color: #FFF8F4!important;
    padding: 40px 20px !important;
    font-family: Crimson Text;
    border: 1px solid rgba(61, 29, 0, 0.2);
}
body .table-add-product .table thead{
    
    background-color: rgba(214, 204, 195, 0.5);
    padding: 31px 20px;
    font-family: Crimson Text;
    font-style: normal;
    font-size: 20px;
    line-height: 33px;
    text-align: left !important;
}
body .table-add-product .table thead tr:last-child{
    height: 40px;
    background-color: #FFF8F4 !important;
    border: 1px solid #FFF8F4;
}
body .table-add-product .table tbody {
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
}
body .table-add-product .table tbody tr, .table-add-product .table thead tr{
    border: 1px solid rgba(61, 29, 0, 0.2);
}
body .table-add-product .table tbody td:nth-child(1) {
    width: auto;
}
body .table-add-product .table tbody td:nth-child(2){
    width: 150px;
}
body .table-add-product .table tbody td:nth-child(3){
    width: 155px;
}
body .table-add-product .table tbody td:nth-child(4){
    width: 250px;
}
body .table-add-product .table tbody td:nth-child(5) {
    width: 250px;
}
body .table-add-product .table tbody td:nth-child(6) {
    width: 315px;
}
body .table-add-product .table .table-thead tr th{
    font-weight: normal !important;
    text-align: center;
    padding: 20px 31px;
}
body .table-add-product .table .btn-product{
    font-family: Crimson Text;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-decoration-line: underline;
    color: red;
    margin-right: 10px;
}
body .table-add-product .table .btn-product:last-child{
    margin-right: 15px;
}
body .table-add-product .table .btn-product:first-child{
    margin-left: 15px;
}
body .table-add-product .table .btn-details{
    color: #3A998E !important;
}
body .table-add-product  .table .btn-edit{
    color: rgba(62, 79, 169, 0.8) !important;
}
body .table-add-product .table .btn-delete{
    color: #A93E4D !important;
}

body .table-add-product .table tbody tr:hover{
    color: #A93E4D;
}